body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right p {
    margin: 0;
}

.header-right a {
    margin-left: 15px;
    text-decoration: none;
    color: #000;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.main-content {
    width: 80%;
    padding: 20px;
}

.login-and-signup {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.login-and-signup form {
    margin-bottom: 20px;
}

.login-and-signup label {
    display: block;
    margin-bottom: 5px;
}

.login-and-signup input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.login-and-signup button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
