{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.css"> -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>To-do Lists</title>
</head>

<body>
    <div class="header">
        <a class="logo" href="{% url 'index' %}">To-do List</a>
        <div class="header-right">
            {% if user.is_authenticated %}
                <p class="user">
                    {{ user.username }}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </p>
            {% else %}
                <p>
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </p>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% if user.is_authenticated %}
            <div class="sidebar">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        {% else %}
            <div class="login-and-signup">
                {% block login_and_signup %}
                {% endblock %}
            </div>
        {% endif %}
    </div>
</body>

</html>
