<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.css"> -->
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>To-do Lists</title>
</head>

<body>
    <div>
        <!-- <h1 onclick="location.href='{% url "index" %}'">To-do List</h1> -->
        <a href="{% url 'index' %}">To-do List</a>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </p>
        {% else %}
            <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a></p>
        {% endif %}
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
