{% extends 'todoapp/layout.html' %}

{% block content %}
<div class="ui container" style="margin-top: 50px;">
    <h2>Вход</h2>
    <form class="ui form" method="post">
        {% csrf_token %}
        <div class="field">
            <label>Имя пользователя</label>
            {{ form.username }}
        </div>
        <div class="field">
            <label>Пароль</label>
            {{ form.password }}
        </div>
        <button class="ui button" type="submit">Войти</button>
    </form>
</div>
{% endblock content %}