<!doctype html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{ title }} </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

<div class="ui menu">
    <a class="item" href="{% url 'index' %}">Главная</a>
    {% if user.is_authenticated %}
        <span class="item">Привет, {{ user.username }}!</span>
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="ui item">Выйти</button>
        </form>
    {% else %}
        <a class="item" href="{% url 'login' %}">Войти</a>
        <a class="item" href="{% url 'signup' %}">Зарегистрироваться</a>
    {% endif %}
</div>

{% block content %}

{% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>
